<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet" rel="stylesheet">
        {# <link rel="stylesheet" href="{{asset('build/app.css')}}"> #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}


    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{path('home')}} ">Mon Agence</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav bg-dark ">
                    <li class="nav-item ">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %} active {%endif%} " href="{{path('property.index')}}">Acheter
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">Acheter
                        </a>
                    </li>
                </ul>

            </div>
            {% if app.user %}
                <ul class="navbar-nav bg-dark justify-content-end">
                    <li class="nav-Link ">
                        <a href="{{path('logout')}} ">
                            se Déconnecter</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
        <div class="row">
            <div class="container-fluid">

                {% block body %}{% endblock %}
            </div>
        </div>

        <script crossorigin="anonymous" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {# <script src="{{asset('build/app.js')}}"></script>
                <script src="{{asset('build/runtime.js')}}"></script> #}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

    </body>
</html>
